<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  lang="zh-CN">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="zh-CN">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>博客管理后台</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link type="/image/x-icon" href="<{image:favicon.ico}>" rel="icon">
<{css:admin/dashicons.css}>
<{css:admin/admin-bar.css}>
<{css:admin/common.css}>
<{css:admin/dashboard.css}>
<{css:admin/edit.css}>
<{css:admin/screens.css}>
<{css:admin/press-this.css}>
<{css:admin/wp-admin.css}>
<{css:admin/buttons.css}>
<{css:admin/list-tables.css}>
<{css:admin/nav-menus.css}>
<{js:common/jquery-1.8.3.js}>
<!--[if lte IE 7]>
<link rel='stylesheet' id='ie-css'  href='http://localhost/wordpress/wp-admin/css/ie.min.css?ver=4.0' type='text/css' media='all' />
<![endif]-->
<style type="text/css" media="print">#wpadminbar { display:none; }</style>
</head>
<body class="wp-admin wp-core-ui no-js  index-php auto-fold admin-bar branch-4 version-4-0 admin-color-fresh locale-zh-cn no-customize-support no-svg">
<div id="wpwrap">
<!-- header start -->
<div id="wpadminbar" class="nojq nojs" role="navigation">
   <a class="screen-reader-shortcut" href="#wp-toolbar" tabindex="1">跳至工具栏</a>
    <div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="顶部导航工具栏。" tabindex="0">
      <ul id="wp-admin-bar-root-default" class="ab-top-menu">
        <li id="wp-admin-bar-menu-toggle">
            <a class="ab-item"  href="#"><span class="ab-icon"></span><span class="screen-reader-text">菜单</span></a>
        </li>
        <li id="wp-admin-bar-site-name" class="menupop">
            <a class="ab-item"  aria-haspopup="true" href="<{root:}>">站点</a>	
        </li>
        <li id="wp-admin-bar-comments">
            <a class="ab-item"  href="<{root:admin/comment}>" title="0条评论待审">
                <span class="ab-icon"></span><span id="ab-awaiting-mod" class="ab-label awaiting-mod pending-count count-0">0</span>
            </a>		
        </li>
        <li id="wp-admin-bar-new-content" class="menupop">
            <a class="ab-item"  aria-haspopup="true" href="http://localhost/wordpress/wp-admin/post-new.php" title="添加">
                <span class="ab-icon"></span><span class="ab-label">新建</span>
            </a>
            <div class="ab-sub-wrapper">
                <ul id="wp-admin-bar-new-content-default" class="ab-submenu">
                    <li id="wp-admin-bar-new-post"><a class="ab-item"  href="<{root:admin/article/create}>">文章</a></li>
                    <li id="wp-admin-bar-new-media"><a class="ab-item"  href="<{root:admin/media/create}>">媒体</a></li>
                    <li id="wp-admin-bar-new-page"><a class="ab-item"  href="<{root:admin/page/create}>">页面</a></li>
                    <!--<li id="wp-admin-bar-new-user"><a class="ab-item"  href="http://localhost/wordpress/wp-admin/user-new.php">用户</a></li>-->
                </ul>
            </div>		
         </li>
      </ul>
      <ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
         <li id="wp-admin-bar-my-account" class="menupop with-avatar">
             <a class="ab-item"  aria-haspopup="true" href="<{root:admin/user/center}>" title="我的帐户">您好，admin
             </a>
             <div class="ab-sub-wrapper">
                <ul id="wp-admin-bar-user-actions" class="ab-submenu">
                       <li id="wp-admin-bar-user-info">
                           <a class="ab-item" tabindex="-1" href="<{root:admin/user/center}>">
                               <span class='display-name'>admin</span>
                           </a>
                       </li>
                    <li id="wp-admin-bar-edit-profile"><a class="ab-item"  href="<{root:admin/user/center}>">编辑我的个人资料</a></li>
                       <li id="wp-admin-bar-logout">
                           <a class="ab-item"  href="<{root:admin/user/logout}>">登出</a>
                       </li>
                 </ul>
              </div>		
           </li>
       </ul>			
    </div>
   <a class="screen-reader-shortcut" href="<{root:admin/user/logout}>">登出</a>
</div>
<!-- header stop --->

<!-- menu start -->
<div id="adminmenuwrap">
    <ul id="adminmenu" role="navigation">
        
	<li id="menu-admin" class="wp-first-item wp-has-submenu wp-not-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" >
            <a href='<{root:admin/admin}>' class="wp-first-item wp-has-submenu wp-not-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" >
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-dashboard'><br /></div>
                <div class='wp-menu-name'>概况</div>
            </a>
        </li>
        
	<li id="menu-article" class="wp-has-submenu wp-not-current-submenu open-if-no-js menu-top menu-icon-post menu-top-first" >
            <a href='<{root:admin/article}>' class="wp-has-submenu wp-not-current-submenu open-if-no-js menu-top menu-icon-post menu-top-first" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-post'><br /></div>
                <div class='wp-menu-name'>文章</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>文章</li>
                <li class="wp-first-item"><a href='<{root:admin/article}>' class="wp-first-item">所有文章</a></li>
                <li><a href='<{root:admin/article/add}>'>写文章</a></li>
                <li><a href='<{root:admin/category}>'>分类目录</a></li>
                <li><a href='<{root:admin/tag}>'>标签</a></li>
            </ul>
        </li>
        
	<li id="menu-media" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media" >
            <a href='<{root:admin/media}>' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-media'><br /></div>
                <div class='wp-menu-name'>多媒体</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>多媒体</li>
                <li class="wp-first-item"><a href='<{root:admin/media}>' class="wp-first-item">媒体库</a></li>
                <li><a href='<{root:admin/media/add}>'>添加</a></li>
            </ul>
        </li>
        
	<li id="menu-page" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-page" >
            <a href='<{root:admin/page}>' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-page" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-page'><br /></div>
                <div class='wp-menu-name'>页面</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>页面</li>
                <li class="wp-first-item"><a href='<{root:admin/page}>' class="wp-first-item">所有页面</a></li>
                <li><a href='<{root:admin/page/create}>'>新建页面</a></li>
            </ul>
        </li>
        
	<li id="menu-comment" class="wp-not-current-submenu menu-top menu-icon-comments menu-top-last" >
            <a href='<{root:admin/comment}>' class="wp-not-current-submenu menu-top menu-icon-comments menu-top-last" >
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-comments'><br /></div>
                <div class='wp-menu-name'>评论<span class='awaiting-mod count-0'><span class='pending-count'>0</span></span></div>
            </a>
        </li>

	<li id="menu-theme" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-appearance menu-top-first" >
            <a href='<{root:admin/theme}>' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-appearance menu-top-first" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-appearance'><br /></div>
                <div class='wp-menu-name'>外观</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>外观</li>
                <li class="wp-first-item"><a href='themes.php' class="wp-first-item">主题</a></li>
                <li class="hide-if-no-customize"><a href='customize.php?return=%2Fwordpress%2Fwp-admin%2Findex.php' class="hide-if-no-customize">自定义</a></li>
                <li><a href='widgets.php'>小工具</a></li>
                <li><a href='nav-menus.php'>菜单</a></li>
                <li><a href='themes.php?page=custom-header'>顶部</a></li>
                <li><a href='themes.php?page=custom-background'>背景</a></li>
                <li><a href='theme-editor.php'>编辑</a></li>
            </ul>
        </li>
        
	<li id="menu-plugin" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-plugins" >
            <a href='plugins.php' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-plugins" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-plugins'><br /></div>
                <div class='wp-menu-name'>插件<span class='update-plugins count-0'><span class='plugin-count'>0</span></span></div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>插件<span class='update-plugins count-0'><span class='plugin-count'>0</span></span></li>
                <li class="wp-first-item"><a href='plugins.php' class="wp-first-item">已安装的插件</a></li>
                <li><a href='plugin-install.php'>安装插件</a></li>
                <li><a href='plugin-editor.php'>编辑</a></li>
            </ul
        </li>
        
	<li id="menu-user" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-users" >
            <a href='users.php' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-users" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-users'><br /></div>
                <div class='wp-menu-name'>用户</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>用户</li>
                <li class="wp-first-item"><a href='users.php' class="wp-first-item">所有用户</a></li>
                <li><a href='user-new.php'>添加用户</a></li>
                <li><a href='profile.php'>我的个人资料</a></li>
            </ul>
        </li>
        
	<li id="menu-tool" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-tools" >
            <a href='tools.php' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-tools" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-tools'><br /></div>
                <div class='wp-menu-name'>工具</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>工具</li>
                <li class="wp-first-item"><a href='tools.php' class="wp-first-item">可用工具</a></li>
                <li><a href='import.php'>导入</a></li>
                <li><a href='export.php'>导出</a></li>
            </ul>
        </li>
        
	<li id="menu-setting" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings menu-top-last" >
            <a href='<{root:admin/setting}>' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings menu-top-last" aria-haspopup="true">
                <div class="wp-menu-arrow"><div></div></div>
                <div class='wp-menu-image dashicons-before dashicons-admin-settings'><br /></div>
                <div class='wp-menu-name'>设置</div>
            </a>
            <ul class='wp-submenu wp-submenu-wrap'>
                <li class='wp-submenu-head'>设置</li>
                <li class="wp-first-item"><a href='<{root:admin/setting}>' class="wp-first-item">常规</a></li>
                <li><a href='<{root:admin/setting/write}>'>撰写</a></li>
                <li><a href='<{root:admin/setting/read}>'>阅读</a></li>
                <li><a href='<{root:admin/setting/discussion}>'>讨论</a></li>
                <li><a href='<{root:admin/setting/media}>'>多媒体</a></li>
                <li><a href='<{root:admin/setting/url}>'>固定链接</a></li>
            </ul>
        </li>
        
        <li id="collapse-menu" class="hide-if-no-js"><div id="collapse-button"><div></div></div><span>收起菜单</span></li>
    </ul>
</div>
<!-- menu end -->

<div id="wpcontent"><{viewcontent}></div>
    
</div>
<script>
    $(function(){
        
        var menu = eval(<{echo:$menu}>);
        var module =  '<{echo:Fate::app()->module}>';
        var control = '<{echo:Fate::app()->control}>';
        var action = '<{echo:Fate::app()->action}>';
        var menu_bar = $('#adminmenu');
        var current_menu ;
        
        $.each(menu,function(i){
            if($.inArray(control,menu[i])!=-1){
                current_menu = $('#'+i);;
                return ;
            }
        })
        
        var href_parttern = control
        if(action!='index'){
            href_parttern = control+'/'+action;
        }

        var current_tag = current_menu.children('ul').children('li').children('a[href$="'+href_parttern+'"]');

        if(current_tag.length==0){
            current_tag = current_menu.children('ul').children('li').children('a[href$="'+control+'"]');   
        }
        current_menu.toggleClass('wp-not-current-submenu wp-has-current-submenu');
        current_menu.children('a').toggleClass('wp-not-current-submenu wp-has-current-submenu');
        current_tag.addClass('current');
        current_tag.parent().addClass('current');

        menu_bar.children('li').hover(function(){
                $(this).addClass('opensub');
                $(this).children('ul').css('top',-1);
        },function(){
                $(this).removeClass('opensub');
                if(!$(this).hasClass('wp-has-current-submenu')){
                    $(this).children('ul').css('top','-1000em'); 
                }
        })
        
        function initLayout(){
            
            var hight = document.documentElement.clientHeight - $("#nav").outerHeight(true);   

            $('#adminmenuwrap').height(hight); 
            $('#wpwrap').height(hight);
            
        }
		
        initLayout();

        $(window).resize(function(){   
               initLayout();   
        });

})
</script>
</body>
</html>
